<% layout('layouts/boilerplate') %>

    <body>
        <div class="row">
            <div class="col-8 offset-2 ">


                <form class="needs-validation" method="post" action="/listing/<%=editList._id %>?_method=PATCH"
                    novalidate enctype="multipart/form-data">
                    <h3>Edit the listing</h3>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" value="<%=editList.title %>" type="text" class="form-control"
                            required>
                        <div class="invalid-feedback">*required</div>

                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input name="listing[description]" value="<%=editList.description%>" type="text"
                            class="form-control" required>
                        <div class="invalid-feedback">*required</div>

                    </div>

                    <div>
                        <p>Original listing image</p>
                        <img src="<%=originalImageUrl%>">
                    </div>


                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input name="listing[image]" type="file" class="form-control">
                        <!-- <div class="invalid-feedback">*required</div> -->

                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" value="<%=editList.price %>" type="number" class="form-control"
                                required>
                            <div class="invalid-feedback">*required</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" value="<%=editList.country %>" type="text"
                                class="form-control" required>
                            <div class="invalid-feedback">*required</div>

                        </div>
                    </div>


                    <div class="mb-3">

                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" value="<%=editList.location %>" type="text" class="form-control"
                            required>
                        <div class="invalid-feedback">*required</div>

                    </div>

                    <button class="btn btn-success">Edit & Save</button>
                </form>
            </div>
        </div>
        <br>

    </body>